@media screen and (max-width:320px)
    .conteiner-header
        .conteiner-logo-nombre
            width: 200px
            .nombre
                display: none

    .btn
        float: right
        right: 0
        position: absolute
        font-size: 15px
    .seccion-estadisticas
        .principal-estadistias
            .conteiner-titulo-sec
                width: 100%
                width: 100%
                h1
                    margin-top: 20px 
                    justify-content: center
                    justify-items: center
                    text-align: center
                    font-size: 26px
    .NIvel-club
        .conteiner-sub-titulo
            .sub-titulo
                font-size: 25px
    .NIvel-seleccion
        .conteiner-sub-titulo
            .sub-titulo
                font-size: 20px
                    
      